src/main/resources/schemas/custom-db.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.onceself.com/custom/tags/db"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://www.onceself.com/custom/tags/db"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:element name="default-entity-dao-scan">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string" use="required"></xsd:attribute>
			<xsd:attribute name="base-package" type="xsd:string"
				use="required">
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>